.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0 10px;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    .footer-section1,
    .footer-section2,
    .footer-section3 {
      flex: 1;
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }

      h3 {
        font-size: 17px;
        margin-bottom: 20px;
        color: #fff;
      }

      p {
        font-size: 14px;
        line-height: 1.6;
        color: #ccc;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            color: #ccc;
            text-decoration: none;
            font-size: 14px;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #555;

    p {
      font-size: 12px;
      color: #888;
    }
  }
}

@media (max-width: 1100px) {
  .footer {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      
      .footer-section3 {
        display: none;
      }
      
      .footer-section1,
      .footer-section2 {
        margin-right: 0;
        margin-bottom: 20px;
        
        h3 {
          font-size: 15px;
        }
        
        p {
          font-size: 12px;
        }
      }
    }
  }
}
